In [2]:
import pandas as pd

In [2]:
data = {'Square_Footage':[1500,1800,2200,1200,2500],
        'Bedrooms':[3,4,5,2,3],
        'Bathrooms':[2,2.5,3,1.5,3],
        'Location':['Suburb','City Center','Suburb','Rural','Suburb'],
        'House_price':[250000,320000,450000,180000,500000]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   Square_Footage  Bedrooms  Bathrooms     Location  House_price
0            1500         3        2.0       Suburb       250000
1            1800         4        2.5  City Center       320000
2            2200         5        3.0       Suburb       450000
3            1200         2        1.5        Rural       180000
4            2500         3        3.0       Suburb       500000

*Space is matter in CSV file

In [17]:
df2 = pd.read_csv(r"C:\Users\User\Desktop\test\data.csv",usecols=['Song Title','view'])

# nrows=3
df2

          Song Title      view
0      Unconditional   3700000
1            Kick it  20000000
2              Smoke   4000000
3              Touch  24000000
4  Flammin hot lemon   2300000

In [27]:
df3 = pd.read_csv(r"C:\Users\User\Downloads\food_coded - food_coded.csv")

# with pd.option_context('display.max_rows',None,
#                        'display.max_columns',None,
#                        'display.precision', 3):
#     print(df3)

In [29]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [32]:
df4 = pd.read_excel(r"C:\Users\User\Downloads\test_label_encoder.xlsx")
df4

  Weather TimeOfWeek TimeOfDay TrafficJam
0   Clear    Workday   Morning        Yes
1   Clear    Workday   Evening        Yes
2   Clear    Weekend     Lunch         No
3   Rainy    Workday   Morning        Yes
4   Rainy    Workday     Lunch        Yes
5   Rainy    Workday   Evening        Yes
6   Rainy    Weekend     Lunch         No
7   Snowy    Workday   Morning        Yes
8   Snowy    Workday   Evening        Yes
9   Snowy    Weekend     Lunch         No