In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\User\Downloads\test-standard-scaler - test-standard-scaler.csv")

In [3]:
df

            car   color  volume  weight  co2
0   Honda Civic     Red     1.6    1252   94
1  Suzuki Swift   White     1.3     990  101
2       Mazda 3   Black     2.2    1280  104
3      Benz CLA   Black     1.5    1465  102
4   Mini Cooper     Red     1.5    1140  105
5    Ford Focus    Blue     2.0    1328  105
6  Benz C-Class  Silver     2.1    1365   99
7  Benz E-Class   While     2.1    1605  115
8   Ford Fiesta     Red     1.5    1112   98
9    Volvo XC70  Silver     2.0    1746  117

In [8]:
x = df[['volume','weight']]
y = df['co2']

random_state:

In [9]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [12]:
display(X_test)
display(X_train)

display(y_test)
display(y_train)

   volume  weight
2     2.2    1280
8     1.5    1112
4     1.5    1140

   volume  weight
9     2.0    1746
1     1.3     990
6     2.1    1365
7     2.1    1605
3     1.5    1465
0     1.6    1252
5     2.0    1328

2    104
8     98
4    105
Name: co2, dtype: int64

9    117
1    101
6     99
7    115
3    102
0     94
5    105
Name: co2, dtype: int64

In [ ]:
scaler = StandardScaler()
scaler.fit(df[['volume','weight']])
scaled = scaler.transform(df[['volume','weight']])